body{
	background-image:url(http://сочи-ремонт-квартиры.рф/files/galery/remont.jpg)
}
a {
	color:yellow;
}

ol {
	border:1px solid black;
	background-color:purple;
	color:yellow;
	}

li {
	
	outline:1px solid white;
	width:70%;
	padding-top:10%;
	}

.header {
	color:yellow;
	background:purple;
}

.row:after {
	display:block;
	clear:both;
	content:"";
}

.logo {
	width:30%;
	float:left;
}

.top-menu {
	text-align:center;
	outline:1px solid white;
	width:70%;
	float:left;
}

.col_1 {
	width:23%;
	float:left;
}

.col_2 {
	text-align:left;
	width:50%;
	float:left;
}


.main {
	border: 2px groove red;
	padding:1%;
	background-color:white;
	
}	

.footer {
	text-align:right;
	color:yellow;
	background-color:purple;
}
